@page "/Login"
@using FinnalProjectPRN221_ShopManager.Model;
@model FinnalProjectPRN221_ShopManager.Pages.LoginModel
@{
}
AddtoCart ne

<table>
    <tr>
        <td style="font-weight: bold">ProductId</td>
        <td style="font-weight: bold">Product Name</td>
        <td style="font-weight: bold">Quantity</td>
        <td style="font-weight: bold">Price</td>
        <td></td>
    </tr>
    @foreach (OrderDetail item in Model.orders)
    {
        <tr id="@item.ProductId">
            <td>@item.ProductId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
>

        </tr>
    }
</table>